<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>CMS</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>signUp</display-name>
    <servlet-name>signUp</servlet-name>
    <servlet-class>com.cms.Servlet.signUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signUp</servlet-name>
    <url-pattern>/signUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>login</display-name>
    <servlet-name>login</servlet-name>
    <servlet-class>com.cms.Servlet.login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>contacts</display-name>
    <servlet-name>contacts</servlet-name>
    <servlet-class>com.cms.Servlet.contacts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contacts</servlet-name>
    <url-pattern>/contacts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editContact</display-name>
    <servlet-name>editContact</servlet-name>
    <servlet-class>com.cms.Servlet.editContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editContact</servlet-name>
    <url-pattern>/editContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteContact</display-name>
    <servlet-name>deleteContact</servlet-name>
    <servlet-class>com.cms.Servlet.deleteContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteContact</servlet-name>
    <url-pattern>/deleteContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>importContacts</display-name>
    <servlet-name>importContacts</servlet-name>
    <servlet-class>com.cms.Servlet.importContacts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>importContacts</servlet-name>
    <url-pattern>/importContacts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>exportContacts</display-name>
    <servlet-name>exportContacts</servlet-name>
    <servlet-class>com.cms.Servlet.exportContacts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exportContacts</servlet-name>
    <url-pattern>/exportContacts</url-pattern>
  </servlet-mapping>
</web-app>